.item {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-title {
  padding: 12px;
  font-size: 20px;

  background: #f2f2f6;
}

.item-content {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  gap: 12px;
  padding: 16px;
}
