.item {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  border-radius: 1.5rem;
  background-color: #ffffff;
}

.item-title {
  padding: 12px;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 79, 255)
}

.item-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 12px;
  padding: 16px;
}
